<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOgin</title>
</head>
<body>
<h1>SpringSecurity Login</h1>
<hr>
<form action="/login.html" method="POST">
    <div>
        <label for="username">名称</label>
        <input type="text" name="username" value="" placeholder="Account" />
    </div>
    <div>
        <label for="password">名称</label>
        <input type="password" name="password" value="" placeholder="Pwd" />
    </div>
    <input type="submit" id="login" value="Login"/>
</form>
</body>
</html>